<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">rafael@ortiz.sh:~$</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Rafael Ortiz</li><li><a class="u-email" href="mailto:rafael@ortiz.sh">rafael@ortiz.sh</a></li></ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/Friday811"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">Friday811</span></a></li><li><a href="https://www.linkedin.com/in/rafael-ortiz"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg> <span class="username">rafael-ortiz</span></a></li><li><a href="https://infosec.exchange/@Senicar"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#mastodon"></use></svg> <span class="username">Senicar</span></a></li><li><a href="https://www.twitter.com/FridayOrtiz"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">FridayOrtiz</span></a></li></ul>
</div>

      <div class="footer-col footer-col-3">
        <script src="https://www.hackthebox.eu/badge/73016"></script>
        <p>This site is where I put notes on fun things I do between semesters.</p>
      </div>
    </div>

  </div>

</footer>
</body>

</html>
